#outer{
    background-color: rgb(243, 239, 239);
}
.search{
    border: 2px solid black;
}
.btn1{
    border: 2px solid black;
}
#const3{
    position: relative;
    height: 115vh;
    /* box-shadow: 20px 20px 15px 12px rgb(209, 241, 241); */
    box-shadow: 20px 20px 30px rgb(230, 192, 173) inset;
}
.three{
    width: 154vh;
    position: absolute;
    top: 100px;
    left: 42px;

}
.form-group{
    display: flex;
    margin: 0;
    margin-bottom: 30px;
}
.label{
    margin-right: 83px;
    width: 60vh;
}
.form-control{
    margin-right: 25px;
}
.form-check{
    position: absolute;
    left: 375px;
    top: -17px;
} 
.tick{
    display: flex;
    position: relative;
    margin-bottom: 31px;
}
#buttons2{
    position: absolute;
    bottom: 38px;
    left: 44px;
}