.sidebar {
    position: sticky;
    width: 257px;
    height: auto;
    margin: -11px;
    margin-top: -48px;
}

.sidebarTop {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    padding: 10px 0;
}

.sidebarMain {
    background-color: rgb(241, 241, 241);
    height: inherit;
    height: 100vh;
    overflow-y: scroll;
    margin-top: -23px;
}

.sidebarAccount {
    display: flex;
    padding: 10px 4px;
}

.sidebarGeneral {
    padding: 0 0 40px 10px;
}

.sidebarDropOption {
    display: flex;
    position: sticky;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 18px 0 0 0;
}

.dropIcons {
    position: absolute;
    right: 10px;
}

.sidebarBottom {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    background-color: white;
    position: sticky;
    bottom: 0;
    cursor: pointer;
}